<section class="ftco-section">

    <div class="container">

        <div class="row">
            <div class="col-lg-9 mx-auto text-center mb-3">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-5">Contacta con nosotros</h5>
            </div>
        </div>
        
        <div class="row flex-center h-100">

            <div class="row justify-content-center mt-2 mb-5">
            
                <div class="col-md-3">
                    <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <fa-icon [icon]="faMap"></fa-icon>
                        </div>
                        <div class="text">
                            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                        </div>
                    </div>
                </div>
    
    
                <div class="col-md-3">
                    <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <fa-icon [icon]="faPhone"></fa-icon>
                        </div>
                        <div class="text">
                            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <fa-icon [icon]="faEmail"></fa-icon>
                        </div>
                        <div class="text">
                            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                        </div>
                    </div>
                </div>        
    
            </div>

            <div class="contact1 row justify-content-center">

                <div class="container-contact1 bg-light">
                    
                    <div class="contact1-pic js-tilt" data-tilt>
                        <img src="assets/img/contact-img.png" alt="IMG">
                    </div>
        
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact1-form" novalidate>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label class="label" for="name">Nombre</label>
                                    <input formControlName="name"
                                    type="text"
                                    class="form-control" 
                                    placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-md-12"> 
                                <div class="form-group">
                                    <label class="label" for="email">Email</label>
                                    <input type="email"
                                     formControlName="email"
                                     class="form-control" 
                                     placeholder="Email" 
                                     autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="form-group">
                                    <label class="label" for="subject">Asunto</label>
                                    <input type="text"
                                     class="form-control"
                                     placeholder="Asunto"
                                     formControlName="subject">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="form-group">
                                    <label class="label" for="#">Mensaje</label>
                                    <textarea
                                     class="form-control"
                                     cols="30" 
                                     rows="4" 
                                     placeholder="Mensaje"
                                     formControlName="message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="form-group">
                                   <app-button
                                            [type]="'submit'"
                                            [block]="false"
                                            [loading]="isLoading">
                                            Enviar
                                    </app-button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</section>