<section>

    <div class="container">

        <div class="row">
            <div class="col-lg-9 mx-auto mb-3">

            <div class="col-12 text-center mb-3">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Quienes Somos</h5>
            </div>

            <div class="col-12 text-center mb-3">
                <img class="d-inline-block align-top img-fluid" src="assets/img/FyF_logo.png" alt="" width="200"/> 
            </div>

            <p class="lead">
                La Dirección Empresa Flora y Fauna Villa Clara se encuentra ubicada en la carretera Central Km. 306 Banda a Placetas, pertenece al municipio Santa Clara de la Provincia Villa Clara. 
            </p>
            <p class="lead">
                Mediante la Resolución 5 de fecha 21 de enero de 2021 del Ministro de Economía y Planificación, se crea con personalidad jurídica propia y patrimonio independiente la Empresa Flora y Fauna Villa Clara, integrada al Grupo Flora y Fauna. 
            </p>
            <p class="lead">
                La Empresa Flora y Fauna Villa Clara radica su dirección en Santa Clara y tiene unidades empresariales de base en casi todos los municipios de la provincia: 2 en Santa Clara; 1 en Placeta; 1 en Caibarien - Camajuani; 1 en Quemado de Güines - Sagua la Grande; 2 en Corralillo, y 3 en Manicaragua; que responden por el objeto social y las producciones y servicios que lo sustentan. 
            </p>

            <ol class="list-ueb">
                <li>
                    Santa Clara
                    <ul>
                        <li>
                            Dirección de la Empresa.

                            <div>
                                <span class="badge bg-primary">Dirección General de la Empresa. </span>
                            </div>
                            <div>
                                <span class="badge bg-primary">Dirección Contable Financiera. </span>
                            </div>
                            <div>
                                <span class="badge bg-primary">Dirección de Capital Humano.</span>
                            </div>
                            <div>
                                <span class="badge bg-primary">Dirección Técnica de Conservación y Turismo </span>    
                                <ul>
                                    <li>Grupo conservación</li>  
                                    <li>Grupo Turismo</li>                
                                 </ul>
                            </div>
                            <div>
                                <span class="badge bg-primary">Dirección de Producción</span>
                                <ul>
                                    <li>Grupo Pecuario </li>  
                                    <li>Grupo Agroindustrial</li>                
                                 </ul>
                            </div>
                            
                          
                            
                            <span class="badge badge-primary">
                                Dirección de Desarrollo
                            </span>
                        </li>
                        <li>
                            UEB Aseguramiento. 
                            <p>
                                Tiene como objetivo asegurar las necesidades a la producción en logística, transportación y maquinaria.
                                Posee una superficie agrícola de 8.5 HA, dedicadas a la agricultura 3, dentro de ellas 1 HA a cultivos 
                                varios, como viandas, granos, hortalizas y frutales. Existen producciones pecuarias del vacuno no racial,
                                porcino, cunícula, aves y huevos. Posee un centro recreativo con restauran, 
                                mini zoológico y Valla de Gallos, que prestan servicios de gastronomía y eventos recreativos. 
                            </p>    
                        </li>
                        <li>
                            UEB Sabanas de Santa Clara (Reserva Florística Manejada).
                            <p>Con una superficie de 6 912.0 HA, esta área protegida se enmarca en las Alturas de Cubanacán, 
                               ocupando áreas de los municipios Santa Clara y Placetas. Esta reserva protege una de las zonas de 
                               cuabales de mayor importancia en el país; los valores fundamentales que en ella se conservan están 
                               relacionados con la flora que la caracteriza, donde el Cuabal es la formación vegetal principal.
                               Estudios recientes arrojan la presencia de alrededor de 510 especies, entre plantas introducidas,
                               y nativas de cuabales, bosques de galería, bosques sobre esquistos, y vegetación secundaria, ruderal
                               y segetal Se trabajan en la reserva seis objetos de conservación, de ellos 1 ecosistema (cuabal),
                               1 especie de la fauna (Tomeguín del pinar) y cinco especies de la flora (Erythroxylum echinodendrum,
                               Melocactus actinacanthus, Guettarda echinodendrum, Eugenia squarrosa, Pilosocereus sp).
                            </p>    
                        </li>
                    </ul>
                </li>

                <li>
                    Placeta
                    <ul style="list-style: circle;">
                        <li>
                            UEB Rancho La Estancia.
                            <p>
                                Con una superficie total de 246 HA, de ellas posee 220.5 HA de pastos naturales dedicados a la cría 
                                de ganado equino genético de la raza Criollo de Trote, 8.5 HA cultivados con forraje para el ganado
                                genético y cultivos temporales de viandas y hortalizas así como otros granos. Posee embalses y acuíferos 
                                naturales, produce y acopia, para comercializar animales comerciales de ganado mayor y menor, en pie a la
                                industria cárnica, así como animales comerciales y de trabajo a empresas y unidades productoras. 
                                Existen producciones pecuarias del vacuno no racial, ovino, patos y de forma minorista leche de 
                                ganado mayor con destino a los trabajadores.
                            </p>    
                        </li>
                    </ul>
                </li>

                <li>
                    Caibarien - Camajuani 
                    <ul style="list-style: circle;">
                        <li>
                            UEB Lanzanillo (Área Marina Protegida).
                            <p>
                                Tiene una superficie total de 87 070 HA marinas y 10 580 HA terrestres, esta área marina protegida es parte
                                de la cayería Noroeste de Villa Clara, Archipiélago Sabana – Camagüey, se extiende desde Cayo Jutias a Cayo Fragoso.
                                La flora que se desarrolla en las dunas está constituida por un total de 22 especies, pertenecientes a 22 
                                géneros y 17 familias. El bosque de mangle (manglar) está distribuido en toda la cayería y en la línea de costa,
                                estando presente las cuatro especies existentes en Cuba: mangle rojo (Rhysophora mangle), 
                                mangle prieto (Avicennia germinans), Patabán (Laguncularia racimosa) y la Yana (Conocarpus erectus).
                                Están presentes también; Batis maritima y Salicornia perennis. Estos cayos constituyen un corredor
                                migratorio importante en el movimiento de algunas especies hacia otras zonas del Caribe, el sur de la Florida
                                y viceversa. Cuenta con la presencia de un mamífero terrestre, la Jutía Rata (Capromys auritus) un endémico 
                                local de pequeño tamaño y de hábitos terrestres y coloniales exclusivo de Cayo Fragoso. Un  objetivo importante
                                de trabajo es el monitoreo de los mamíferos marinos, en especial del Manatí (Trichechus manatus manatus), 
                                especie declarada amenazada y el Delfín (Tursiops truncatus) ubicado en el Apéndice II de CITES. Teniendo en 
                                cuenta las características del área marina protegida, su categoría, su capacidad de manejo y la problemática 
                                existente, se definieron cinco objetos de conservación, dos a nivel de especies, son ellos el Manatí 
                                (Trichechus manatus manatus) y la Jutía Rata (Capromys auritus), la comunidad de tortugas y dos a nivel de 
                                ecosistemas, arrecifes y bosque semidesiduo micrófilo de Cayo Conuco. Existen producciones pecuarias del 
                                vacuno no racial, ovino y de forma minorista leche de ganado mayor con destino a los trabajadores.
                            </p>
                        </li>
                    </ul> 
                </li>

                <li>
                    Quemado de Güines - Sagua la Grande    
                    <ul style="list-style: circle;">
                        <li>
                            UEB Picúas (Refugio de Fauna).
                            <p>
                                Está conformada por tres áreas el “Refugio de Fauna Picúas – Cayos del Cristo”, elemento Natural Destacado
                                “Ojo del Mégano” y la “Reserva Ecológica Mogotes de Jumagua”. Está ubicada formando parte de la cayería Noroeste 
                                y de la llanura al centro norte de la provincia de Villa Clara. Posee una extensión de 61 596.8 HA, de ellas
                                40 250 HA marinas y 21 346.8 HA terrestres. Abarca la zona que va desde cayo Blanquizal hasta Cayo Cristo,
                                limitando al norte con el océano Atlántico y la isobata de 200m, al sur recorre la línea de costa y se inserta 
                                a los Mogotes de Jumaga, continuando por los límites de la salina 10 de abril hasta el cayo de mangle conocido 
                                como “Cayo Punta Rosa”. Al oeste limita con la Bahía de Santa Clara y al este con la Bahía de Sagua la Grande, 
                                Cayo Empalizada y el Canal de Marillanes. Su zona de amortiguamiento está ubicada en el litoral de  los municipios
                                Corralillo, Quemado de Güines y Sagua la Grande. El Refugio de Fauna está representado por bosque de mangle (manglar)
                                que está distribuido en toda la cayería y en la línea de costa, estando presente las cuatro especies existentes en 
                                Cuba: mangle rojo (Rhysophora mangle), mangle prieto (Avicennia germinans), Patabán (Laguncularia racimosa) y la 
                                Yana (Conocarpus erectus). Los principales valores se encuentran en la fauna, los mamíferos están representados 
                                por cinco especies, tres terrestres (un endemismo y dos introducidas) y dos marinas. Como endémico nacional la
                                Jutía conga (Capromys pilorides), las especies marinas están representadas por el manatí antillano 
                                (Trichechus manatus), endémico regional y el Delfín o Tonina (Tursiops truncatus). 
                                Significativos son los valores de la fauna marina; en especial los de interés comercial; destacándose la langosta
                                espinosa del caribe, los peces, el Cobo, los cangrejos, las jaibas y esponjas, sometidos en su mayoria a una intensa
                                sobrepesca. La Reserva Ecológica se distingue por sus mogotes, donde predominan los procesos erosivos y acumulativos
                                en las zonas llanas circundantes. El relieve es llano y bajo, destacándose 8 elevaciones (mogotes) 
                                con una orientación sureste-noroeste, siendo la mayor altura de 86 msnm, y mínima en el orden de 30 msnm. 
                                En la reserva se determinaron 421 especies de plantas vasculares, de ellas 48 son endemismos cubanos, lo que 
                                representa el 11,5 %. Existen cuatro especies incluidas en algunas de las categorías de plantas amenazadas, 
                                según las evaluaciones realizadas a especies cubanas. 
                            </p>
                            <p>
                                Entre los representantes de la fauna se reportan 18 especies de mamíferos, con la presencia de 14 especies de murciélagos,
                                y 95 especies de aves, siendo la de mayor importancia el Perico catey (Aratinga euops), especie que nidifica en el área.
                                Otras especies presentes son: Cartacuba, Tocororo, Maja de santa maría, Jutía conga, Carpintero churroso, Carpintero verde, 
                                Zunzún, Arriero, Chipojo verde, Coronel, Sijú platanero, Sijú cotunto, y los moluscos  Torrecoptis pallidula, Torrecoptis mameyensis, 
                                Cochlodinella jumaguense. Se reporta además una muy importante comunidad de moluscos, formada por  28 especies (5 endémicos locales),
                                2 especies de anfibios y 14 de reptiles. La reserva presenta un sistema sitios arqueológicos y cavernas de alto valor histórico, 
                                donde se encuentran restos de culturas precolombinas. Fueron seleccionados 11 objetos de conservación; 5 pretencientes al Refugio
                                de Fauna: 2 ecosistemas (Bosque de manglar y arrecifes coralinos) y 3 especies (Flamenco rosado, Iguana y Jutia conga) y 6 de la
                                Reserva Ecológica: (Perico catey, palma de Jumagua, Roble enano, Anthurium gymnopus, Terminalia eriostachya, 
                                Tabebuia anisophylla y Tabebuia beyeri.).
                            </p>
                        </li>
                        <li>Unidad Mogotes de Jumagua (Reserva Ecológica).</li>
                    </ul> 
                </li>

                <li>
                    Corralillo
                    <ul style="list-style: circle;">
                        <li>
                            UEB Monte Ramonal (Reserva Florística Manejada).
                            <p>
                                Está categorizada como “Reserva Florística Manejada” es parte de la LLanura Norte de Villa Clara, posee una extensión de 3151,4 HA.
                                La reserva se enmarca en los municipios Santo Domingo y Corralillo. En la actualidad se aúnan esfuerzos en la conservación de tres
                                objetos de conservación a nivel de especie (Carpintero churroso,  Palma cana y  Harpalyce maisiana) y dos a nivel de ecosistemas
                                (Bosque siempreverde mesófilo y Sabanas del sur y del este). Realiza la conservación de suelo y poseen plátanos como cultivos 
                                permanentes y temporales de viandas, frutas y hortalizas así como otros granos. 
                                Produce madera para combustible, guano cana, productos de artesanía con el propio guano y produce y acopia,
                                para comercializar de forma mayorista y minorista animales comerciales de ganado vacuno a la industria cárnica,
                                así como animales comerciales y de trabajo a empresas y unidades productoras. Produce leche de ganado mayor para
                                el autoconsumo de los trabajadores.
                            </p>
                         </li>
                        <li>
                            UEB La Piedra.
                            <p>
                                Tiene una superficie total de 1 932 HA de ella agrícola 158, de las que se cultivan 108, con pasto para el ganado
                                genético y comercial y las demás con frutales y plátanos como cultivos permanentes y temporales de arroz, viandas
                                y hortalizas así como otros granos. Produce carbón vegetal para la exportación, madera para combustible, vacuno
                                comercial, porcino y cunícula. Produce y acopia, para comercializar de forma mayorista y minorista animales 
                                comerciales de ganado mayor y menor, en pie, en banda y con cortes especiales y comerciales al turismo,
                                a la industria cárnica, así como animales comerciales y de trabajo a empresas y unidades productoras. 
                                Produce y comercializa de forma mayorista leche de ganado mayor con destino a la industria láctea, 
                                así como de leche fresca al sistema de Comercio Interior. Realiza la conservación de suelo. 
                            </p>
                        </li>
                    </ul> 
                </li>

                <li>
                    Manicaragua
                    <ul style="list-style: circle;">
                        <li>
                            UEB Rancho El Salvador.
                            <p>
                                Tiene una superficie total de 630 HA, de ellas una superficie agrícola de 10 HA donde existen cultivos
                                permanentes de caña, pasto, y otros, temporales como arroz, viandas y hortalizas.
                                Las otras 620 HA de pastos naturales dedicados al desarrollo de ganado equino genético 
                                de las razas Criollo de Trote y Patibarcino. Existen producciones pecuarias de porcino, ovino y aves.
                            </p>
                        </li>
                        <li>
                            UEB Rancho Don Quijote.
                            <p>
                                Con una superficie total de 3 257.4 HA, tiene cultivadas 156.0 HA con caña, frutales, plátanos, otras
                                viandas y granos y café. Posee 57 HA sembradas con forraje para el ganado. De pastos naturales tiene 3 029.0 
                                HA dedicadas a la cría de ganado vacuno genético y comercial, equino genético y la crianza mular.
                                Además 117 HA de bosques naturales y latifolias que conserva y protege. Produce y acopia, para comercializar
                                animales comerciales de ganado mayor y menor, en pie a la industria cárnica, así como animales comerciales y 
                                de trabajo a empresas y unidades productoras. Posee embalses y acuíferos naturales. Existen producciones pecuarias 
                                de porcino, ovino, cunícula y aves (pavos y guineos).
                            </p>
                        </li>
                        <li>
                            UEB Hanabanilla (Área Protegida).
                            <p>
                                Esta área protegida se ubica en el Macizo Montañoso Guamuhaya, Sierra del Escambray, limitando en su sector
                                norte -noreste con el Embalse Hanabanilla y al sur con la provincia Cienfuegos, ocupando un área de 1083.3 HA.
                                A través de caminos peatonales se accede a los poblados El Nicho, Guanayara y Cuatro Vientos.
                                La flora antófita del área está constituida por 634 especies de plantas con flores, pertenecientes a 417 géneros
                                y 118 familias. El estudio que aporta estos resultados no consideró las especies introducidas, cultivadas, 
                                pteridofitas y especies afines. La flora endémica existente en Hanabanilla está representada por 101 especies, 
                                de las cuales, 15 % son consideradas exclusivas del Escambray y 1 endémica local, esta última es Citharexylum
                                ekmanii Mold., reportada solamente para las Lomas de Siguanea. Se reportan 116 especies de helechos y 44 
                                especies de orquídeas. Las formaciones vegetales en el área protegida Hanabanilla se distribuyen siguiendo el 
                                gradiente altitudinal, sin embargo, como consecuencias de la altura en que se encuentran y el comportamiento de
                                algunos factores ecológicos, tales como: el grado de exposición, la humedad y el tipo de sustrato, hace que se
                                entremezclen en forma de mosaico o parches. Se desarrollan en esta área los bosques pluvial montano, semidesiduo
                                mesófilo, siempreverde mesófilo y de galería, además del complejo de vegetación de mogotes en las cimas de las
                                alturas cársicas. En esta área protegida las aves muestran una marcada biodiversidad  con 111 especies reportadas, 
                                entre ellas 12 especies endémicas (10,8 %), 4 especies consideradas en peligro y 5 como vulnerables.
                                Se reportan 14 especies de aves que usan el recurso cavidad para anidar,  entre las que se destacan la cotorra, 
                                el tocororo, 4 especies de carpinteros, entre otros. Se ha monitoreado la cotorra y se aprecia competencia por
                                las cavidades, por lo que se maneja el recurso cavidad en el área. Los estudios reportan 39 especies de moluscos
                                terrestres, muchas de las cuales se destacan por su importancia ecológica y abundancia, 12 especies de anfibios,
                                3 de ellas nuevos reportes para el área, ubicadas en un orden, cuatro familias y cuatro géneros. Se han registrado
                                25 especies de reptiles las cuales se agrupan en dos órdenes, 8 familias y 12 géneros (uno endémico).
                                Del total de las especies 18 son endémicas (72 %), por su distribución 17 son pancubanos, cinco son regionales
                                y tres locales, en cuanto al grado de amenaza, uno es declarado como en peligro y tres en la categoría de
                                vulnerable. Con mayor intensidad se trabajan cinco objetos de conservación, entre ellos, una comunidad de 
                                la fauna (aves usadoras del recurso cavidad para anidar), dos ecosistemas (Valle del Arroyo Trinitario y 
                                ecosistema de los casquetes cársicos) y dos paisajes (paisaje asociado al mogote “La Colicambiada” y paisaje de la
                                cascada del Arroyo Trinitario).
                            </p>
                        </li>
                    </ul> 
                </li>
            </ol>

          </div>
        
        </div>
        
        <div class="row flex-center h-100">


        </div>
    </div>

</section>
