<section>
    <div class="container">
        <div class="row">

            <div class="col-lg-9 mx-auto text-center mb-3">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Biblioteca de documentos</h5>        
            </div>

            <ngx-masonry class="row card-group masonry">
              <div class="col-4" ngxMasonryItem class="masonry-item" *ngFor="let model of viewModel">
                <div class="card overflow-hidden">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <div *ngIf="model.mimeType === 'application/pdf'; else imgWord">
                        <img src="../../../../assets/img/icons/pdf.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <ng-template #imgWord>
                        <img src="../../../../assets/img/icons/word.jpg" class="img-fluid rounded-start" alt="...">
                      </ng-template>
                    </div>
                    <div class="col-md-9">
                      <div class="card-body">
                        <h5 class="card-title">{{ model?.title }}</h5>
                        <p class="card-text">{{ model?.description }}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button (click)="downloadFile(model)" class="btn btn-primary">Download</button>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
            </ngx-masonry>

        </div>    
    </div>
</section>