<!-- Brand Logo -->
<a [routerLink]="['/dashboard']" class="brand-link">
    <img src="assets/img/FyF_logo.png"
        alt="Flora y Fauna Villa Clara"
        class="brand-image img-circle"/>
    <span class="brand-text font-weight-light">Flora y Fauna VC</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2" style="overflow-y: hidden">
        <ul class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a [routerLink]="['/dashboard']" class="nav-link" 
                   [routerLinkActive]="['active']" 
                   [routerLinkActiveOptions]="{exact:true}">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Inicio</p>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/gallery']" class="nav-link" [routerLinkActive]="['active']">
                    <i class="nav-icon far fa-image"></i>
                    <p>Galería</p>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/blogs']" class="nav-link" [routerLinkActive]="['active']">
                    <i class="nav-icon fas fa-blog"></i>
                    <p>Blog</p>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/libraries']" class="nav-link" [routerLinkActive]="['active']">
                    <i class="nav-icon fas fas fa-book-open"></i>
                    <p>Biblioteca</p>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/users']" class="nav-link" [routerLinkActive]="['active']">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Usuarios</p>
                </a>
            </li>
        </ul>
    </nav>
</div>
