<div class="card bg-success">
  <div class="card-body p-sm-4">
    <h5 class="text-white">Boletin informativo</h5>
    <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-3">
        <label for="exampleInputNombre" class="form-label">Nombre</label>
        <input type="text" 
        class="form-control" 
        id="exampleInputNombre"
        formControlName="fullName">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" 
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email">
      </div>
      <app-button
        [type]="'submit'"
        [block]="false"
        [loading]="isLoading">
        Enviar
      </app-button>
    </form>
  </div>
</div>

