<section class="py-0" id="header">
    <div class="bg-holder d-none d-md-block" id="image-1">
    </div>  
    <div class="bg-holder d-md-none" id="image-2">
    </div>
    <div class="container">

      <div class="row align-items-center min-vh-75 min-vh-lg-50">
        <div class="col-12 py-5 text-sm-start text-center">
          <h1 class="mt-6 mb-sm-4 fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6">Empresa Flora y Fauna <br class="d-block d-lg-block" />Villa Clara</h1>      
    
          <div class="carousel-principal">
              
          </div>
    
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="card" id="card-text">
            <div class="card-body">
              <p class="align-text-justify">
                La Empresa Flora y Fauna Villa Clara cuenta con un total de diez Unidades Empresariales de Base 
                diversificadas por casi toda la provincia, siendo la única que tiene por objeto brindar servicios
                de protección, conservación y desarrollo de las especies endémicas de la flora y la fauna así como
                de protección y desarrollo genético equino vacuno racial y de otras especies menores. 
                Las áreas protegidas bajo el patrimonio de la empresa son disfrutadas por clientes nacionales 
                y extranjeros que prefieren el turismo de naturaleza, agrario y de aventura siendo nuestra entidad 
                único escenario en la provincia que propone dichos servicios. El destino de las producciones agropecuarias
                y forestales emanadas de la gestión de la empresa es para consumo social, sustitución de importaciones así 
                como se exporta el carbón vegetal producido en sus áreas.  
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</section>
  
<section class="py-5" id="Opportuanities">
    <div class="bg-holder d-none d-sm-block" style="background-image:url(assets/img/illustrations/bg.png);background-position:top left;background-size:225px 755px;margin-top:-17.5rem;">
    </div>
    <!--/.bg-holder-->
  
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto text-center mb-3">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Objeto Social</h5>
          <p class="mb-5 lead justify-content-end">
            Mediante la Resolución 5 de fecha 21 de enero de 2021 del Ministro de Economía
            y Planificación quedó definido el Objeto Social de la Empresa Flora y Fauna Villa Clara
          </p>
        </div>
      </div>
      <div class="row flex-center h-100">
        <div class="col-xl-9">
          <div class="row">
            <div class="col-md-6 mb-5">
              <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/planting.svg" height="60" alt="" />
                  <div class="card-body">
                    <h6 class="fw-bold fs-1 heading-color">
                      Protección y Conservación
                    </h6>
                    <p class="mt-3 mb-md-0 mb-lg-2">
                      Brindar servicios de conservación y desarrollo de la flora, la fauna y
                      del fondo genético equino y vacuno.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/growth.svg" height="60" alt="" />
                  <div class="card-body">
                    <h6 class="fw-bold fs-1 heading-color">
                      Comercializar
                    </h6>
                    <p class="mt-3 mb-md-0 mb-lg-2">
                      Producir y comercializar productos pecuarios.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-4 mb-5">
              <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/farmer.svg" height="60" alt="" />
                  <div class="card-body">
                    <h6 class="fw-bold fs-1 heading-color">Protección</h6>
                    <p class="mt-3 mb-md-0 mb-lg-2">
                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium 
                      voluptatum deleniti atque corrupti quos
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
            
          </div>
        </div>
      </div>
    </div>
</section>

<section class="py-0">
    <div class="bg-holder" style="background-image:url(assets/img/illustrations/how-it-works.png);background-position:center bottom;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-9 col-xl-5 text-center pt-7">
          <h5 class="fw-bold lh-sm mb-5 text-white">
            Actividades secundarias, eventuales y de apoyo a las previstas en el objeto social de la Empresa Flora y Fauna Villa Clara
          </h5>
        </div>
        <div class="col-sm-9 col-md-12 col-xxl-9">
          
          <div class="theme-tab">

            <ul class="nav justify-content-between">

              <li class="nav-item" role="presentation"><a class="nav-link active fw-semi-bold" href="#bootstrap-tab1" data-bs-toggle="tab" data-bs-target="#tab1" id="tab-1"><span class="nav-item-circle-parent"><span class="nav-item-circle">01</span></span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link fw-semi-bold" href="#bootstrap-tab2" data-bs-toggle="tab" data-bs-target="#tab2" id="tab-2"><span class="nav-item-circle-parent"><span class="nav-item-circle">02</span></span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link fw-semi-bold" href="#bootstrap-tab3" data-bs-toggle="tab" data-bs-target="#tab3" id="tab-3"><span class="nav-item-circle-parent"><span class="nav-item-circle">03</span></span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link fw-semi-bold" href="#bootstrap-tab4" data-bs-toggle="tab" data-bs-target="#tab4" id="tab-4"><span class="nav-item-circle-parent"><span class="nav-item-circle">04</span></span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link fw-semi-bold" href="#bootstrap-tab5" data-bs-toggle="tab" data-bs-target="#tab5" id="tab-5"><span class="nav-item-circle-parent"><span class="nav-item-circle">05</span></span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link fw-semi-bold" href="#bootstrap-tab6" data-bs-toggle="tab" data-bs-target="#tab6" id="tab-6"><span class="nav-item-circle-parent"><span class="nav-item-circle">06</span></span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link fw-semi-bold" href="#bootstrap-tab7" data-bs-toggle="tab" data-bs-target="#tab7" id="tab-7"><span class="nav-item-circle-parent"><span class="nav-item-circle">07</span></span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link fw-semi-bold" href="#bootstrap-tab8" data-bs-toggle="tab" data-bs-target="#tab8" id="tab-8"><span class="nav-item-circle-parent"><span class="nav-item-circle">08</span></span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link fw-semi-bold" href="#bootstrap-tab9" data-bs-toggle="tab" data-bs-target="#tab9" id="tab-9"><span class="nav-item-circle-parent"><span class="nav-item-circle">09</span></span></a></li>


            </ul>
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                <div class="row align-items-top my-6 mx-auto">
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de protección y conservación de las especies de la flora y la fauna, su habitad
                      y/o ecosistema perteneciente a nuestro patrimonio.
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Desarrollar y ejecutar proyectos de conservación y protección de la flora y la fauna, suelo,
                      prevención y combate contra incendios, plan de manejo operativo, educación ambiental, vigilancia
                      y protección, manejo de la conservación y administración que son financiados por el Presupuesto
                      del Estado.                    
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Comercializar de forma sostenible, recursos naturales de las especies de la flora y la fauna como,
                      peces ornamentales, rocas, raíces, organismos acuáticos, entre otros, en consonancia con lo establecido
                      por el Ministerio de Ciencia, Tecnología y Medio Ambiente, así como los subproductos derivados de los
                      mismos.                   
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Promover, contratar y prestar servicios de asesoramiento técnico y asistencia en las actividades
                      afines de la empresa.
                    </p>
                  </div>

                </div>
              </div>
              <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab-2">
                <div class="row align-items-top my-6 mx-auto">
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Producir y comercializar probióticos y aditivos para la alimentación.
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Producir y comercializar medios e implementos para la actividad ecuestre,
                      de equitación y otras que contribuyan al desarrollo de la ganadería.            
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Producir y comercializar gallos de lidia, aves, así como derivados de las producciones 
                      agropecuarias, de animales autóctonos o exóticos, productos apícolas, productos forestales
                      y sus derivados, tanto producidos como adquiridos en todas sus modalidades, entre otros.             
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios turísticos de naturaleza como el ecoturismo, aventura, agroturismo, turismo rural,
                      ecuestre, cicloturismo, arqueológico, histórico, cultural y espeleológico; actividades deportivas, 
                      recreativas, acuáticas como navegación, buceo, snockers, pesca deportiva, entre otras; así como 
                      actividades especializadas en forma de complemento al servicio turístico de naturaleza; y brindar 
                      servicios de guía de turismo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab-3">
                <div class="row align-items-top my-6 mx-auto">
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios turísticos de alojamiento con alimentación en instalaciones de la 
                      Empresa Flora y Fauna Villa Clara, que incluyen además acampadas y eco alojamiento.
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Realizar actividades recreativas y culturales nocturnas en locales vinculados al turismo
                      de naturaleza, guiadas por las direcciones de cultura de los territorios, donde participen 
                      grupos y orquestas musicales nacionales de conjunto con jóvenes y estudiantes, favoreciendo
                      a la promoción de la protección y conservación de especies de la flora y la fauna.      
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Producir y comercializar forraje para alimento animal, ya sea empacado o mediante el pastoreo.      
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Producir y comercializar objetos promocionales de los centros turísticos de la Empresa y de su actividad.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab-4">
                <div class="row align-items-top my-6 mx-auto">
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Realizar ferias de gallos de lidia, así como actividades de equitación, y subastas de ganado,
                      entre otras. 
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios gastronómicos y de restaurantes. Brindar servicios de guía turístico, lancheros
                      y motoristas.   
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de exhibición de animales, plantas y otros productos relacionados con las
                      actividades que realiza la empresa.       
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de alojamiento no turístico, con o sin alimentación, comedor, cafetería,
                      recreación, hospedaje y restaurante a los trabajadores del Grupo Empresarial Flora y Fauna. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab-5">
                <div class="row align-items-top my-6 mx-auto">
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Promover a criadores nacionales reconocidos, según lo establecido en la licencia aprobada
                      por el Ministerio de Comercio Interior.
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de construcción, reparación y mantenimiento de viviendas a los trabajadores 
                      de la Empresa Flora y Fauna Villa Clara, así como garantizar la venta de materiales de construcción 
                      a los trabajadores.        
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicio de elaboración y montaje de señales gráficas de identificación en edificaciones y medios flotantes.       
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de buceo no turístico a medios flotantes e hidrotécnicos.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab-6">
                <div class="row align-items-top my-6 mx-auto">
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Comercializar de forma mayorista los desechos reciclables ferrosos y no ferrosos generados
                      de procesos productivos y de prestación de servicios que no puedan ser utilizados dentro de
                      la propia entidad o de la Empresa Flora y Fauna Villa Clara.
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Comerciar de forma mayorista productos ociosos y de lento movimiento.      
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicio comercialización de productos de aseo y otros para fines turísticos
                      en moneda nacional.
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Comercializar de forma mayorista materias primas generadas en los procesos productivos y que no
                      son reutilizables, a la Unión de Empresas de Materias Primas y aquellas que resulten reutilizables 
                      en la producción a la economía interna.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="tab-7">
                <div class="row align-items-top my-6 mx-auto">
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Comercializar chatarras, equipos, materiales, y otros insumos para su procesamiento
                      por la industria de materias primas.
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de parqueo.       
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de transportación de carga y pasajeros.               
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Efectuar le promoción, contratación y prestación de servicios técnicos y de asistencia
                      en las actividades afines a la Empresa.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab8" role="tabpanel" aria-labelledby="tab-8">
                <div class="row align-items-top my-6 mx-auto">
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Alquilar locales y escenarios naturales. 
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de mantenimiento de vías y canales, así como la eliminación de especies invasoras.  
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de ventas de tarjetas para internet temporales y permanentes, así como de
                      tarjetas propias y cupones de recarga, en unidades pertenecientes al Grupo Empresarial Flora
                      y Fauna.       
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de taller y mecánica en los talleres de la Empresa Flora y Fauna Villa Clara.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab9" role="tabpanel" aria-labelledby="tab-9">
                <div class="row align-items-top my-6 mx-auto">
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Diseñar, construir, reparar y dar mantenimiento a instalaciones rusticas así como otras labores construcción, montaje y decoración que le sean complementarias.
                    </p>
                  </div>
                  
                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de información científico técnica, cursos, visitas docentes y especializadas, jornadas científicas, talleres y eventos Nacionales e Internacionales     
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de identificación de organismos marinos.        
                    </p>
                  </div>

                  <div class="col-md-3 text-white">
                    <p class="mb-0">
                      Brindar servicios de alerta.     
                    </p>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="card bg-secondary mb-3">
          <div class="card-body">
            <p class="text-white">
              <fa-icon [icon]="faInfo"></fa-icon>
              Las actividades descritas se podrán realizar, en principio, a cualquier persona natural o jurídica, 
              incluyendo a extranjeros, especialmente las relacionadas con el turismo, los servicios gastronómicos y
              las subastas; salvo que casuísticamente se especifique o restrinja su contenido.   
            </p>
            <p class="text-white">
              <fa-icon [icon]="faInfo"></fa-icon>
              Las producciones agropecuarias, forestales y los derivados de estas, así como los productos que 
              ocasionalmente se adquieran para la atención al hombre, podrán venderse a los trabajadores del
              Sistema de Flora y Fauna y terceros vinculados a este, cumpliendo con las normas contables y 
              financieras establecidas.  
            </p>
          </div>
        </div>
      </div>
    </div>
</section>


<section class="py-8" id="testimonial">
    <div class="container-lg">
      <div class="row flex-center">
        <div class="col-12 col-lg-10 col-xl-12">
          <div class="bg-holder" style="background-image:url(assets/img/illustrations/testimonial-bg.png);background-position:top left;background-size:120px 83px;">
          </div>
          <!--/.bg-holder-->

          <h6 class="fs-3 fs-lg-4 fw-bold lh-sm">What investors like you <br />are saying about Zou</h6>
        </div>
        <div class="carousel slide pt-3" id="carouselExampleDark" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 mx-3 mx-sm-5 mx-md-4 my-md-7 m-lg-7 mt-7">
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-1.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Fernando Soler</h5>
                          <p class="fw-normal text-black">Telecommunication Engineer</p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-2.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Ilone Pickford</h5>
                          <p class="fw-normal text-black">Head of Agrogofund </p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-3.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Ed O’Brien</h5>
                          <p class="fw-normal text-black">Herbalist</p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row h-100 mx-3 mx-sm-5 mx-md-4 my-md-7 m-lg-7 mt-7">
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-1.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Fernando Soler</h5>
                          <p class="fw-normal text-black">Telecommunication Engineer</p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-2.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Ilone Pickford</h5>
                          <p class="fw-normal text-black">Head of Agrogofund Groups </p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-3.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Ed O’Brien</h5>
                          <p class="fw-normal text-black">Herbalist</p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Ui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row h-100 mx-3 mx-sm-5 mx-md-4 my-md-7 m-lg-7 mt-7">
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-1.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Fernando Soler</h5>
                          <p class="fw-normal text-black">Telecommunication Engineer</p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-2.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Ilone Pickford</h5>
                          <p class="fw-normal text-black">Head of Agrogofund Groups </p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="card h-100 shadow">
                    <div class="card-body my-3">
                      <div class="align-items-xl-center d-block d-xl-flex px-3"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/user-3.png" width="50" alt="" />
                        <div class="flex-1 align-items-center pt-2">
                          <h5 class="mb-0 fw-bold text-success">Ed O’Brien</h5>
                          <p class="fw-normal text-black">Herbalist</p>
                        </div>
                      </div>
                      <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Ui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row px-3 px-sm-6 px-md-0 px-lg-5 px-xl-4">
            <div class="col-12 position-relative"><a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a></div>
          </div>
        </div>
      </div>
    </div>
</section>
  
<section class="py-2 mt-5" id="invest">
  
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 mb-3">
          <div class="row">
            <div class="col-lg-9 mb-3">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Invest on your convenience</h5>
              <p class="mb-5">Autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla</p>
            </div>
            <div class="col-md-6 mb-5" *ngFor="let x of [1,2]">
              <div class="card text-white"><img class="card-img" src="assets/img/gallery/short-terms.png" alt="..." />
                <div class="card-img-overlay d-flex flex-column justify-content-center px-5 px-md-3 px-lg-5 bg-dark-gradient">
                  <h6 class="text-success pt-2">NEW FARM TODAY</h6>
                  <hr class="text-white" style="height:0.12rem;width:2.813rem" />
                  <div class="pt-lg-3">
                    <h6 class="fw-bold text-white fs-1 fs-md-2 fs-lg-3 w-xxl-50">Short terms investment</h6>
                    <p class="w-xxl-75">Invest in farms that will be ready for harvest in 3-18 months</p>
                    <button class="btn btn-lg btn-light text-success" type="button">Browse Farm</button>
                  </div>
                </div>
              </div>
            </div>


            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  
</section>

