/*#image-1 {
    background-image: url("../../../assets/img/illustrations/hero-header.png");
    background-position: right top;
    background-size: 35%;
}*/

/*#image-2 {
    background-image:url("../../../assets/img/illustrations/hero-bg.png");
    background-position:right top;
    background-size:contain;
}*/

#card-text {
    border: 1px solid #112D58;
    box-shadow: 2px 2px 5px #999;
}


.carousel-principal {
    border: 5px solid red;
    min-height: 400px;

}