<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
                <div class="col-xs-12">
                    <div class="card card-outline card-primary">
                        <div class="card-header text-center">
                            <a [routerLink]="['/login']" class="h3">
                                <b>Administración</b> <br>Flora y Fauna VC
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="login-box-msg">Iniciar sesión</p>
                           
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                                <div class="input-group mb-3">
                                    <input
                                        formControlName="username"
                                        type="text"
                                        class="form-control"
                                        placeholder="Usuario"
                                    />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input
                                        formControlName="password"
                                        type="password"
                                        class="form-control"
                                        placeholder="Contraseña"
                                    />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <app-button
                                            [type]="'submit'"
                                            [block]="true"
                                            [loading]="isAuthLoading">
                                            Enviar
                                        </app-button>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <!-- /.login-card-body -->
                    </div>
                </div>
        </div>
    </div>
</section>



