.dbox {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 20px; 
}
    @media (min-width: 768px) {
      .dbox {
        margin-bottom: 0;
        padding: 0; 
        } 
    }
    .dbox p {
      margin-bottom: 0; }
      .dbox p span {
        font-weight: 500;
        color: #000; }
      .dbox p a {
        color: #66BB6A;
        }
    .dbox .icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #66BB6A;
      margin: 0 auto;
      margin-bottom: 20px; 
    }
      .dbox .icon fa-icon {
        font-size: 20px;
        color: #fff; 
    }
    .dbox .text {
      width: 100%; 
    }