<section class="py-0" id="contact">
    <div class="container">
      <div class="row justify-content-lg-between">
        <div class="col-6 col-sm-4 col-lg-auto mb-3">
          <h6 class="mb-3 text-1000 fw-semi-bold">COMPANY </h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="mb-3" [routerLinkActive]="['active']">
              <a class="text-700" [routerLink]="['/about-us']">Quienes Somos</a>
            </li>
            <li class="mb-3" [routerLinkActive]="['active']">
              <a class="text-700" [routerLink]="['/conservation']">Conservación</a>
            </li>
            <li class="mb-3" [routerLinkActive]="['active']">
              <a class="text-700" [routerLink]="['/structure']">Estructura Organizativa</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-sm-4 col-lg-auto mb-3">
          <h6 class="mb-3 text-1000 fw-semi-bold">REDES SOCIALES </h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li>
                <a target="_blank" href="#">
                  <fa-icon [icon]="faFacebook"></fa-icon> Facebook
                </a>
              </li>
              <li>
                <a target="_blank" href="#">
                  <fa-icon [icon]="faTelegram"></fa-icon> Telegram
                </a>
              </li>
              <li>
                <a target="_blank" href="#">
                  <fa-icon [icon]="faTwitter"></fa-icon> Twitter
                </a>
              </li>
              <li>
                <a target="_blank" href="#">
                  <fa-icon [icon]="faWhatsapp"></fa-icon> Whatsapp
                </a>
              </li>
          </ul>
        </div>
        <!--<div class="col-6 col-sm-4 col-lg-auto mb-3">
          <h6 class="mb-3 text-1000 fw-semi-bold">LEGAL </h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
  
          </ul>
        </div>-->
        <div class="col-12 col-lg-5 mb-3">
          <app-newsletter></app-newsletter>
        </div>
      </div>
      <hr class="text-300 mb-0" />
      <div class="row flex-center py-5">
        <div class="col-12 col-sm-8 col-md-6 text-center text-md-start">
          nxczczmc xzncxzczcmcnncz      
        </div>
        <div class="col-12 col-sm-8 col-md-6">
          <p class="fs--1 text-dark my-2 text-center text-md-end">&copy; This template is made with&nbsp;
            <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#76C279" viewBox="0 0 16 16">
              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
            </svg>&nbsp;by&nbsp;<a class="text-dark" href="https://themewagon.com/" target="_blank">ThemeWagon </a>
          </p>
        </div>
      </div>
    </div>
</section>
  
